/*
///////////  |1| TYPOGRAPHY SYSTEM : Rubik
Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86/ 98
|7| WHITE SPACE:
Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

/* ******************************** */
/* HERO SectioN */
/* ******************************** */
.primary-heading {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}
.hero-section {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(239, 35, 60, 0.73)
    ),
    url("minar-in-the-sky.jpg");
  /* background-image: url("minar-in-the-sky.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 9.4rem;
}
/* ******************************** */
/* Process SectioN */
/* ******************************** */
.process {
  /* background-color: rgb(35, 59, 51); */
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  justify-content: start;
}
.process-img {
  width: 100%;
  height: 40rem;
}
/* ******************************** */
/* Donation SectioN */
/* ******************************** */
.donation {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  /* align-items: center; */
  gap: 2.4rem;
  margin: 0 12.8rem;
}
.donation-heading-content {
  grid-column: 1/-1;
  grid-row: 1;
  text-align: center;
}
.tertiary-heading {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.donation-box {
  background-color: lightpink;
  /* width: 50%; */
  padding: 2.4rem;
  align-self: stretch;
  display: flex;
  gap: 2rem;
  border-radius: 4px;
}
.icon {
  display: inline-block;
}
/* ******************************** */
/* Gallery SectioN */
/* ******************************** */
.gallery {
  gap: 2.4rem;
  justify-content: center;
}
.gallery-img {
  /* display: inline-block; */
  width: 100%;
  height: 60rem;
  /* height: 100%; */
}
.gallery-img-box {
}
/* ******************************** */
/* Gallery SectioN */
/* ******************************** */
.footer-section {
  background-color: black;
}
.footer {
  font-family: "Edu QLD Beginner", cursive;
  color: rgba(239, 35, 60, 0.73);
  padding: 3.2rem 0;
  text-align: center;
  margin-bottom: 0;
}
.footer-description {
  color: var(--background-whiteFont-color);
}
